
/*******************************************************Generalidades*********************************************************/

body{
    min-width: 380px;
    text-align: center;
    font-family: "europa",sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #293347;
}

ul{
    list-style: none;
    padding-left:0px;
    padding-right:0px; 
}

li:nth-child(even){
    color: #a6a6a6;
}

a{
    text-decoration: none;
    display: block;
}

/*********************************************************Encabezado**********************************************************/

header{
    padding:30px 70px;
}

@media(max-width: 992px){
    header{
        padding:20px 20px;
    }
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div:nth-child(1){
    color: #45a247;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    font-weight: bold;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

nav div:nth-child(1) div:nth-child(1) {
    font-size: 270%;
}

nav div:nth-child(1) div:nth-child(2) {
    font-size: 270%;
    margin-top: -40px;
    margin-left: 20px;
}

div.contactoCv{   
    display: flex;
}

@media(max-width: 992px){ 
    div.contactoCv{ 
        position: fixed;
        right: -300px;  
        top: 20px;
        flex-direction: column;
        align-items: center;
        transition: right 1s;
    }
}

nav div a{
    padding: 5px 20px;
    margin-bottom: 10px;
}

nav div a{
    border: 2px solid #45a247;
    border-radius: 20px;
    margin-left: 20px;
    color: #45a247;
    background-color: white;
    transition: all 0.5s;
}

nav div a:hover{
    background-color: #45a247;
    color: white;
}

nav div:nth-child(3){
    display: none;
}

nav div i:nth-child(1){
    font-size: 130%;
}

nav div i:nth-child(2){
    display: none;
    font-size: 130%;
}

@media(max-width: 992px){
    nav div:nth-child(3){
        display: block;
    }
}

/**************************************************************sección título*************************************************/

section#titulo{
    padding-top: 60px;
    padding-left: 24px;
    padding-right: 24px;
}

section#titulo h1{
    font-size: 48px;
}

@media(max-width: 992px){
    section#titulo h1{
        font-size: 40px;
    }
}

@media(max-width: 768px){
    section#titulo h1{
        font-size: 32px;
    }
}

section#titulo img:nth-child(3){
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

@media(max-width: 720px){
    section#titulo img:nth-child(3){
        width: 120px;
        height: 120px;
    }
}

section#titulo img:nth-child(4){
    margin-top: 50px;
}

@media(max-width: 992px){
    section#titulo img:nth-child(4){
        width:90%;
        height: 90%;
    }
}

/*********************************************************sección resumen*****************************************************/

section#resumen{
    background: #283c86;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 100px;
    padding-bottom: 250px;
    padding-left: 24px;
    padding-right: 24px;
}

section#resumen h2{
    color: white;
}

section#resumen p{
    color: white;
    width:50%;
    margin-left:auto;
    margin-right: auto;
}

@media(max-width: 992px){
    section#resumen p{
        width:80%;
    }
}

/*******************************************************seccion loHecho*******************************************************/

section#loHecho{
    padding-right:70px;
    padding-left:70px;
}

@media(max-width: 992px){
    section#loHecho{
        padding-right:25px;
        padding-left:25px;
    }
}

/*estudios*/

div.estudios{ 
    display: flex;
}

@media(max-width: 768px){
    div.estudios{
        flex-direction: column;
    }
}

section#loHecho img{
    margin-top: 60px;
    width: 60px;
    height: 60px;
}

div.estudios>div{
    background-color: white;
    margin-top: -150px;
    border-style: solid;
    border-color: black;
    border-width:0.5px 0.5px 0.5px 0px;
    padding-left: 40px;
    padding-right: 40px;
    width: 33%;
}

@media(max-width: 768px){
    div.estudios>div{
        margin-top: 0px;
        border-width:0.5px 0.5px 0px 0.5px;
        width: auto;
    }
}

div.estudios>div:nth-child(1){
    border-width:0.5px;
    border-radius: 15px 0px 0px 15px;
}

@media(max-width: 768px){
    div.estudios>div:nth-child(1){
        margin-top: -150px;
        border-width:0.5px 0.5px 0px 0.5px;
        border-radius: 15px 15px 0px 0px;
    }
}

div.estudios>div:nth-child(3){
    border-radius: 0px 15px 15px 0px;
}

div.estudios>div:nth-child(3) p{
    text-align: justify;
}

@media(max-width: 768px){
    div.estudios>div:nth-child(3){
        border-radius: 0px 0px 15px 15px;
        border-width:0.5px 0.5px 0.5px 0.5px;
    }
}

div.estudios>div div{
    margin-top: 50px;
    margin-bottom: 50px; 
}

div.estudios ul{
    margin-bottom: 70px; 
}

/*proyectos*/

section#loHecho h2{
    margin-top: 100px;
    margin-bottom: 70px;
}

div.trabajoReciente{
    margin-right:5%;
    margin-left: 5%;
    padding-bottom:150px;
}

@media(max-width: 768px){
    div.trabajoReciente{
        margin-right:0px;
        margin-left:0px ;
    }
}

div.trabajoReciente a{
    display: inline-block;
    margin: 8px;
    border-radius: 8px;
    border-color: black;
    border-width: 0.2px;
    border-style: solid;
    width: 310px; 
    height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
}

div.trabajoReciente a:nth-child(1){
    background-image: url("../images/movies.png");
}

div.trabajoReciente a:nth-child(2){
    background-image: url("../images/polls.png");
}

div.trabajoReciente a:nth-child(3){
    background-image: url("../images/timers.png");
    background-position: center;
}

div.trabajoReciente a:nth-child(4){
    background-image: url("../images/recursos.png");
}

div.trabajoReciente a:nth-child(5){
    background-image: url("../images/expensify.png");
}

div.trabajoReciente a:nth-child(6){
    background-image: url("../images/flowoverstack.png");
}

div.trabajoReciente a div{
    width: 80%; 
    height: 70%;
    background-color: rgba(42,54,62,0.9);
    border-radius: 8px;
    color:white;
    font-size: 16px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px 10px 20px;
    visibility:hidden;
    opacity: 0;
    transition: all 1.5s;
    text-align: justify;
}

div.trabajoReciente a div h3{
    text-align: center;
    margin:0px;
}

div.trabajoReciente a div p{
    margin-top:8px;
}

/*****************************************************************footer******************************************************/

footer{
    font-size: 16px;
    margin-top: -20px;
    background-color: #275927;
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

footer a{
    display: inline;
    color: orange;
    margin-right: 15px;
}

footer a i{
    font-size: 30px;
}


